.character {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	cursor: pointer;

	&.character-active {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	&--01 {
		background-image: url( "../images/character-01.jpg");
		min-height: rem-calc( 600 );

		&.character-active {
			background-image: url( "../images/character-01-active.png"), url( "../images/character-01.jpg");
		}
	}

	&--02 {
		background-image: url( "../images/character-02.jpg");
		min-height: rem-calc( 600 );

		&.character-active {
			background-image: url( "../images/character-02-active.png"), url( "../images/character-02.jpg");
		}
	}

	&--03 {
		background-image: url( "../images/character-03.jpg");
		background-position: center bottom;
		min-height: rem-calc( 600 );

		&.character-active {
			background-image: url( "../images/character-03-active.png"), url( "../images/character-03.jpg");
			background-position: center bottom;
		}
	}


	&.character-clicked {
		.pulsating-circle {
			display: none;
		}
	}
}