{% extends "_layout.common.twig" %}

{% block title %}Je to tam! Lakiho mestečko{% endblock %}

{% block page %}

<div class="grid-container">
	<div class="grid-x">
		<div class="cell medium-7">
			
			<h1>Hotovo!</h1>
			<p>Ďakujeme za váš email. Ako sa nám s knihou aktuálne darí zistíte aj na našom <a href="https://www.facebook.com/Lakihomestecko/">Facebooku</a> alebo <a href="https://www.instagram.com/altamika_vydavatelstvo/">Instagrame</a>.</p>
			<p>P.S. Nezabudnite si skontrolovať e-mail ;) Ak si chcete byť istí, že vám ďalší e-mail z Lakiho mestečka pristane v schránke a nie v spame, môžete si pridať adresu lakihomestecko@altamika.sk medzi kontakty (ako na to: <a href="https://www.youtube.com/watch?v=aXPf3VsDNZo">pre gmail</a> / <a href="https://www.youtube.com/watch?v=gEkVGK69koc">pre outlook</a>)</p>
			<p><a href="/laki/">&larr; Späť na Lakiho Mestečko</a></p>
		</div>

		<div class="cell medium-5">
			<img src="/laki/dist/images/paskaj.jpg" alt="Paškaj, Lakiho kamoš">
			<p class="text-center">Paškaj, Lakiho kamoš</p>
		</div>
	</div>
</div>

{% endblock %}
