{% extends "_layout.common.twig" %}

{% block title %}Lakiho mestečko{% endblock %}

{% block page %}

<div class="laki-title">
	{# <div class="grid-container">
		<div class="grid">
			<div class="cell"> #}
				<div class="laki-title__intro">
					<h1 class="laki-title__title">lakiho mestecko</h1>
					<h2 class="laki-title__subtitle">Čtěte. Bavte se. Objevujte. Společně Se svými dětmi tajemná zákoutí Banské Štiavnice</h2>
					
				</div>
			{# </div>
		</div>
	</div> #}
	<div class="laki-title__image"></div>
</div>

<div class="laki-content">
	<div class="grid-container laki-content">
		
		<div class="grid-x">
			<div class="cell medium-6 large-6 textpart">
				<h3>Vitajte v mestecku!</h3>
				<p>Lakiho zná snad každý obyvatel našeho Městečka. Je to malý černý pejsek objevitel, na jednom místě dlouho neposedí. Ráno s dětmi bruslí na Červeném jezírku, v poledne už čumáčkem otevírá dveře do Protikvariátiku, aby pozdravil svoji kamarádku prodavačku Ňaňu. </p>
				<p>Sám za to ani nemůže, že si svůj kožíšek neustále namáčí do nějakého dobrodružství! Třeba jako tenkrát, když se rozhodl, že se povozí v limuzíně na klíně norské královny, která společně s králem přijela do Městečka na návštěvu. O tom, jak se královna lekla a král se smál, si holoubci Hr a Ků vyprávěli ještě týden! </p>
				
			</div>
			<div class="cell medium-6 large-6">
				<div class="character character--01 js-character">
					<div class="pulsating-circle pulsating-circle--01"></div>
				</div>
				
			</div>
		</div>

		<div class="grid-x">
			<div class="cell medium-6 large-6">
				<div class="character character--02 js-character">
					<div class="pulsating-circle pulsating-circle--02"></div>
				</div>
				
			</div>
			<div class="cell medium-6 large-6 textpart">
				<h3>Přichází první slovenská dětská knížka, která vás vytáhne do ulic</h3>
				<ul class="benefits">
					<li class="benefits__item">Poznejte skrze příběhy černého pejska kouty Štiavnice, o kterých jste možná ani nevěděli</li>
					<li class="benefits__item">Vezměte knížku s sebou do ulic a objevujte Lakiho trasy na čerstvém vzduchu</li>
					<li class="benefits__item">A nebo si čtěte v klidu domova. A prožívejte pejskova dobrodružství třeba když prší.</li>
					<li class="benefits__item">Zažijte s dětmi Štiavnicu jinak. Připravte jim program, který je bude bavit. Bez muzeí a galerií, </li>
				</ul>
			</div>
		</div>

		<div class="grid-x">
			<div class="cell medium-8 medium-offset-2 large-6 large-offset-3 textpart">
				<h3>Nájdi Lakiho skôr ako ostatní!</h3>
				<p>V červenci startuje crowdfundingová kampaň na vydání knížky. Pomozte nám vypustit Lakiho do světa. Nechte nám vás email a buďte první, koho o jejím začátku informujeme. Během kampaně si můžete knihu koupit v předprodeji, nebo si vybrat jinou ze zajímavých odměn. </p>

				<p>Malé poděkování za vaši podporu máme pro vás už dnes. Na email vám pošleme 
								obrázek Lakiho ve vysokém rozlišení. Je jen na vás, jestli si ho nastavíte jako plochu počítače, nebo si ho vytisknete a pověsíte do dětského pokoje.</p>
			</div>

		</div>

		<div class="grid-x">
			<div class="cell medium-6">
				<p>formular</p>
				
			</div>
			<div class="cell medium-6">
				<div class="cell medium-6 large-6">
					<div class="character character--03 js-character">
						<div class="pulsating-circle pulsating-circle--03"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
