{% extends "_layout.common.twig" %}

{% block title %}Lakiho mestečko{% endblock %}

{% block page %}

<div class="laki-title">
	{# <div class="grid-container">
		<div class="grid">
			<div class="cell"> #}
				<div class="laki-title__intro">
					<h1 class="laki-title__title">lakiho mestecko</h1>
					<h2 class="laki-title__subtitle">Čtěte. Bavte se. Objevujte. Společně Se svými dětmi tajemná zákoutí Banské Štiavnice</h2>
					
				</div>
			{# </div>
		</div>
	</div> #}
	<div class="laki-title__image"></div>
</div>

<div class="laki-content">
	<div class="grid-container laki-content">
		
		<div class="grid-x">
			<div class="cell medium-6 large-6 textpart">
				<h3>Vitajte v mestecku!</h3>
				<p>Lakiho zná snad každý obyvatel našeho Městečka. Je to malý černý pejsek objevitel, na jednom místě dlouho neposedí. Ráno s dětmi bruslí na Červeném jezírku, v poledne už čumáčkem otevírá dveře do Protikvariátiku, aby pozdravil svoji kamarádku prodavačku Ňaňu. </p>
				<p>Sám za to ani nemůže, že si svůj kožíšek neustále namáčí do nějakého dobrodružství! Třeba jako tenkrát, když se rozhodl, že se povozí v limuzíně na klíně norské královny, která společně s králem přijela do Městečka na návštěvu. O tom, jak se královna lekla a král se smál, si holoubci Hr a Ků vyprávěli ještě týden! </p>
				
			</div>
			<div class="cell medium-6 large-6">
				<div class="character"></div>
				
			</div>
		</div>

			<div class="grid">
				<div class="cell">
					<h3>Vitajte v mestecku!</h3>
					<p>Laki je malý černý pejsek objevitel. Doma chvíli neposedí. Nejraději běhá v ulicích svého Městečka a sám ani neví jak, zažívá jedno dobrodružství za druhým. Třeba jako tenkrát, když se rozhodl, že se povozí v limuzíně na klíně norské královny, která společně s králem přijela do Městečka na návštěvu. O tom, jak se královna lekla a král se smál, si holoubci Hr a Ků vyprávěli ještě týden! </p>
					<p>Blogové články Obsahové agentury jsou vstupní stránkou pro 76 % návštěvníků webu, některé firmy mají toto číslo ještě vyšší. Blog je v takových případech nejdůležitější částí webu – rozhoduje o tom, zda se z návštěvníků stanou klienti, nebo jen kolemjdoucí čtenáři.

		Na internetu jen v češtině najdete desítky návodů o tom, jak máte vyladit kampaňovou landing page, aby měla co nejlepší konverzní poměr.

		Už nikdo se však nezamýšlí nad tím, že landing page je vlastně také každý blogový příspěvek.</p>
					<p>Blogové články Obsahové agentury jsou vstupní stránkou pro 76 % návštěvníků webu, některé firmy mají toto číslo ještě vyšší. Blog je v takových případech nejdůležitější částí webu – rozhoduje o tom, zda se z návštěvníků stanou klienti, nebo jen kolemjdoucí čtenáři.

		Na internetu jen v češtině najdete desítky návodů o tom, jak máte vyladit kampaňovou landing page, aby měla co nejlepší konverzní poměr.

		Už nikdo se však nezamýšlí nad tím, že landing page je vlastně také každý blogový příspěvek.</p>
					<p>Blogové články Obsahové agentury jsou vstupní stránkou pro 76 % návštěvníků webu, některé firmy mají toto číslo ještě vyšší. Blog je v takových případech nejdůležitější částí webu – rozhoduje o tom, zda se z návštěvníků stanou klienti, nebo jen kolemjdoucí čtenáři.

		Na internetu jen v češtině najdete desítky návodů o tom, jak máte vyladit kampaňovou landing page, aby měla co nejlepší konverzní poměr.

		Už nikdo se však nezamýšlí nad tím, že landing page je vlastně také každý blogový příspěvek.</p>
					<p>Blogové články Obsahové agentury jsou vstupní stránkou pro 76 % návštěvníků webu, některé firmy mají toto číslo ještě vyšší. Blog je v takových případech nejdůležitější částí webu – rozhoduje o tom, zda se z návštěvníků stanou klienti, nebo jen kolemjdoucí čtenáři.

		Na internetu jen v češtině najdete desítky návodů o tom, jak máte vyladit kampaňovou landing page, aby měla co nejlepší konverzní poměr.

		Už nikdo se však nezamýšlí nad tím, že landing page je vlastně také každý blogový příspěvek.</p>
				</div>
			</div>
	</div>
	
</div>

{% endblock %}
