{% extends "_layout.common.twig" %}

{% block title %}Lakiho mestečko{% endblock %}

{% block page %}

<div class="laki-title">
	{# <div class="grid-container">
		<div class="grid">
			<div class="cell"> #}
				<div class="laki-title__intro">
					<h1 class="laki-title__title">Lakiho Mestečko</h1>
					<h2 class="laki-title__subtitle">Prežite dobrodružstvá malého psíka. <br>V zákutiach mestečka nie nepodobného <br>Banskej Štiavnici</h2>
				</div>
			{# </div>
		</div>
	</div> #}
	<div class="laki-title__image"></div>
</div>

<div class="laki-content">
	<div class="grid-container laki-content">
		
		<div class="grid-x">
			<div class="cell medium-6 large-6 textpart">
				<h3>Vitajte v Mestečku!</h3>
				<p>Lakiho pozná snáď každý v našom Mestečku. Malý čierny psík na jednom mieste dlho neposedí. Ráno s deťmi korčuľuje na Červenom jazierku, napoludnie už ňufáčikom otvára dvere do Protikvariátiku, aby pozdravil kamarátku predavačku Ňaňu.</p> 
				<p>Sám ani nevie ako, svoj kožúšok si neustále namáča do nejakého dobrodružstva. Pamätáte vtedy, keď sa rozhodol povoziť sa v limuzíne na kolenách nórskej kráľovny, ktorá s kráľom prišla na návštevu? O tom, ako sa zľakla a kráľ sa jej smial, si holúbkovia Hr a Kú rozprávali ešte týždeň!</p> 
			</div>
			<div class="cell medium-6 large-6">
				<div class="character character--01 js-character">
					<div class="pulsating-circle pulsating-circle--01"></div>
				</div>
				
			</div>
		</div>

		<div class="grid-x">
			<div class="cell medium-6 large-6">
				<div class="character character--02 js-character">
					<div class="pulsating-circle pulsating-circle--02"></div>
				</div>
				
			</div>
			<div class="cell medium-6 large-6 textpart">
				<h3>Lakiho Mestečko je detská knižka, <br>ktorá vás vytiahne von</h3>
				<ul class="benefits">
					<li class="benefits__item"><span>10 príbehov, 10 cestičiek <strong>zákutiami mesta</strong>, o ktorých ste <strong>pravdepodobne nevedeli</strong></span></li>
					<li class="benefits__item"><span>Ukážte deťom <strong>Štiavnicu</strong> (vlastne Mestečko), <strong>ktorá ich bude baviť</strong>. Bez nudných dospeláckych zábav. A na čerstvom vzduchu.</span></li>
					<li class="benefits__item"><span>Alebo si spoločne čítajte <strong>v kľude doma</strong>. A prežívajte Lakiho dobrodružstvo napríklad keď prší.</span></li> 
				</ul>
			</div>
		</div>

		<div class="grid-x cta-text">
			<div class="cell medium-8 medium-offset-2 large-6 large-offset-3 textpart">
				<h3>Nájdite Lakiho skôr ako ostatní!</h3>
				<p>Pomôžte nám vypustiť do Vianoc Lakiho do sveta. <strong>Nechajte nám váš email</strong> a <strong>buďte medzi prvými</strong>, koho o začatí <strong>predpredaja</strong> informujeme. A o jeden darček pod stromček máte postarané.</p>

				<p>Poďakovanie za vašu podporu máme pre vás už dnes. Na email vám pošleme
<strong>obrázok Lakiho vo vysokom rozlíšení</strong>. Je len na vás, či si ho nastavíte ako plochu počítača, alebo si ho vytlačíte a zavesíte do detskej izby.</p>

			</div>

		</div>

		<div class="grid-x">
			<div class="cell medium-6">
				
				<div class="signup-form">
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
					<form action="https://andrzej.us10.list-manage.com/subscribe/post?u=dc5b160d570e2a5eb7f446bd1&amp;id=290160a9c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						
					<div class="indicates-required"><span class="asterisk">*</span> znamená povinný údaj</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Váš e-mail  <span class="asterisk">*</span>
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">Krstné meno, ak chcete </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dc5b160d570e2a5eb7f446bd1_290160a9c6" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Chcem info medzi prvými!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text'; /*
					 * Translated default messages for the $ validation plugin.
					 * Locale: SK
					 */
					$.extend($.validator.messages, {
						required: "Povinné zadať.",
						maxlength: $.validator.format("Maximálne {0} znakov."),
						minlength: $.validator.format("Minimálne {0} znakov."),
						rangelength: $.validator.format("Minimálne {0} a Maximálne {0} znakov."),
						email: "E-mailová adresa musí byť platná.",
						url: "URL musí byť platný.",
						date: "Musí byť dátum.",
						number: "Musí byť číslo.",
						digits: "Môže obsahovať iba číslice.",
						equalTo: "Dva hodnoty sa musia rovnať.",
						range: $.validator.format("Musí byť medzi {0} a {1}."),
						max: $.validator.format("Nemôže byť viac ako{0}."),
						min: $.validator.format("Nemôže byť menej ako{0}."),
						creditcard: "Číslo platobnej karty musí byť platné."
					});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->
					<p class="signup-form__notice">Váš e-mail použijeme len na informovanie o dianí okolo knižky a po jej vydaní ho zmažeme. Ako to už býva, odhlásiť sa môžete kedykoľvek kliknutím na link v prijatej e-mailovej správe.</p>
				</div>

				
			</div>
			<div class="cell medium-6">
				<div class="cell medium-6 large-6">
					<div class="character character--03 js-character">
						<div class="pulsating-circle pulsating-circle--03"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
